
.skill{
    min-width: fit-content ;
    min-height: fit-content;
    background-color: white;
    display: inline-block;
    margin:6% 6% 6% 6%;
    border:1px solid #ccc;
    border-radius: 10px;
    padding:3% 3% 3% 3%;
    text-transform: uppercase;
    justify-content: center;
    
}
.skill:hover{
    box-shadow: 0 8px 16px 0 rgba(234, 238, 19, 0.377);
}
img{
    width: 100px;
}
.text-color{
    color: rgb(0, 0, 0);
    padding: 18px;
    margin-right: 10px;
    margin-left: 10px;
}